@media (max-width: 1320px){
/* 3 colunas apenas */

.services ul li::before{
    background-size: 280% 350%;
}

.services ul li:nth-child(1)::before{background-position: -14% -13%;}
.services ul li:nth-child(2)::before{background-position: 45% -13%;}
.services ul li:nth-child(3)::before{background-position: 104% -13%;}

.services ul li:nth-child(4)::before{background-position: -14% 30%;}
.services ul li:nth-child(5)::before{background-position: 45% 30%;}
.services ul li:nth-child(6)::before{background-position: 104% 30%;}

.services ul li:nth-child(7)::before{background-position: -14% 73%;}
.services ul li:nth-child(8)::before{background-position: 45% 73%;}
.services ul li:nth-child(9)::before{background-position: 104% 73%;}

.services ul li:nth-child(10)::before{background-position: -14% 116%;}
.services ul li:nth-child(11)::before{background-position: 45% 116%;}
.services ul li:nth-child(12)::before{background-position: 104% 116%;}
}


@media(max-width: 1024px){
    .general-container{
        /* background-color: antiquewhite; */
        padding: 1rem 2rem;
    }

    .general-container .services{
        width: 114%;
    }

    .gallery .images{
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    }

    .header{
        padding: 0rem 2rem;
    }

    .about .description > li:nth-child(3){
        margin-top: -4rem;
    }

    .services ul li::before{
        background-size: 220% 550%;
    }

    .services ul li:nth-child(1)::before { background-position: 0% -6%; }
    .services ul li:nth-child(2)::before { background-position: 88% -6%; }

    .services ul li:nth-child(3)::before { background-position: 0% 18%; }
    .services ul li:nth-child(4)::before { background-position: 88% 18%; }

    .services ul li:nth-child(5)::before { background-position: 0% 42%; }
    .services ul li:nth-child(6)::before { background-position: 88% 42%; }

    .services ul li:nth-child(7)::before { background-position: 0% 66%; }
    .services ul li:nth-child(8)::before { background-position: 88% 66%; }

    .services ul li:nth-child(9)::before { background-position: 0% 90%; }
    .services ul li:nth-child(10)::before { background-position: 88% 90%; }

    .services ul li:nth-child(11)::before { background-position: 0% 114%; }
    .services ul li:nth-child(12)::before { background-position: 88% 114%; }
}


@media (max-width: 900px){
    /* tablet retrato */
    .services ul li::before{
        background-size: 400% 500%;
    }

    .services ul li:nth-child(1)::before { background-position: 30% -11%; }
    .services ul li:nth-child(2)::before { background-position: 66% -11%; }

    .services ul li:nth-child(3)::before { background-position: 30% 15%; }
    .services ul li:nth-child(4)::before { background-position: 66% 15%; }

    .services ul li:nth-child(5)::before { background-position: 30% 41%; }
    .services ul li:nth-child(6)::before { background-position: 66% 41%; }

    .services ul li:nth-child(7)::before { background-position: 30% 67%; }
    .services ul li:nth-child(8)::before { background-position: 66% 67%; }

    .services ul li:nth-child(9)::before { background-position: 30% 93%; }
    .services ul li:nth-child(10)::before { background-position: 66% 93%; }

    .services ul li:nth-child(11)::before { background-position: 30% 119%; }
    .services ul li:nth-child(12)::before { background-position: 66% 119%; }
}

@media (max-width:784px){
    /* talvez 768px */
    .header{
        padding: 0rem 2rem;
    }

    .general-container{
        padding: 1rem;
        width: 100%;
    }

    .header .nav .hamburguer-button{
        display: block;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    .header .nav .hamburguer-button + .menu{
        position: absolute;
        z-index: 1;
        top: 6rem;
        right: 0;
        flex-direction: column;
        backdrop-filter: blur(4px);
        transition: all .3s ease-in-out;
    }

    .general-container .hero{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        padding: 2rem;
    }

    .general-container .hero h1{
        width: 100%;
    }

    .general-container .hero .text{
        width: 100%;
        text-align: center;
    }

    .general-container .hero .image{
        /* width: 100%; */
        /* background-color: brown; */
        /* text-align: center; */
    }

    .general-container .hero .image img{
        width: 100%;
        /* height: auto; */
    }

    .general-container .services{
        width: 100%;
        margin-left: 0;
        padding: 2rem;
    }

    .about{
        padding: 2rem 2%;
    }

    .about .description > li:nth-child(2),
    .about .description > li:nth-child(3){
        margin-top: 0;
    }

    .footer{
        padding: 1.4rem;
        /* padding: 0; */
        margin: 4rem -1.1rem 0;
    }
}


@media (max-width: 657px) {
    .services ul li::before{
        background-image: none;
    }
}