@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1d1d1d;
}

body{
    /* background-color: #001D21; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 135rem;
    max-width: 100vw;
}

.progress-bar{
    width: 100%;
    height: 3px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -20px;
    margin: 0 21px;
    background-color: #f3b816;
    background-color: darkolivegreen;
    background-color: rgba(73, 19, 1, 0.8);
    animation-timeline: scroll(root);
    animation-name: progress-bar;
    animation-duration: auto;
    animation-timing-function: linear;
}

@keyframes progress-bar{
    0%{width: 0;} 
    100%{width: 100%;}
}

.general-container{
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    /* background-color: lightcoral; */
    /* padding: 0 6.5rem; */
    background-color: rgb(255, 248, 238);
}

.general-container h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    color: #1d1d1d;
}
.general-container p{
    font-size: 1.3rem;
}

.general-container .hero{
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 7rem;
    gap: 20px;
    align-items: center;
    position: relative;
    /* margin: 3rem 0 11rem; */
    /* max-width: 110rem; */
    margin: auto;
}

.general-container .hero .text{
    width: 40%;
    margin-top: 6rem;
    background-color: #f3b816;
    background-color: rgb(235, 218, 192);
    padding: 1rem;
}

.general-container .hero h1{
    font-weight: 300;
    font-size: 3.2rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    line-height: 4.2rem;
    font-family: "Playwrite GB S", cursive;
    font-family: "Merriweather", serif;
    font-style: italic;
    color: #1d1d1d;
    text-shadow: 3px 1px 1px hsla(0, 0%, 11%, 0.3);
}

.hero h1 span{
    font-weight: bold;
    display: block;
}

.general-container .hero h1 em{
    font-weight: 700;
    font-style: normal;
}

.general-container .hero h3{
    font-weight: normal;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    text-wrap: balance;
}

.general-container .hero .whatsapp-btn{
    background-color: rgb(52, 218, 135);
    background-color: rgb(33, 167, 100);
    color: white;
    width: 151px;
    padding: 12px 15px;
    border-radius: 12px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .9rem;
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.hero .whatsapp-btn::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(33, 167, 100);
    background-color: rgb(52, 218, 135);
    transition: all .3s ease-in-out;
}

.whatsapp-btn:hover::after{
    left: 0;
    width: 100%;
    border-radius: 12px;
}

.general-container .hero .whatsapp-btn .fa-whatsapp{
    font-size: 3rem;
}

.general-container .hero .carousel{
    max-height: 500px;
    height: 500px;
    width: 50%;
    /* height: 450px;
    width: 500px; */
    /* width: 100%; */
    /* height: 400px;
    width: 450px; */
    overflow: hidden;
    position: relative;
    /* display: flex; */
    /* background-color: #8d2806; */
    padding: 1rem;
}

.general-container .hero .carousel img{
    /* width: 100%; */
    height: 100%;
    width: auto;
    object-fit: contain;
    opacity: 1;
    transition: opacity .3s ease;
}

.general-container .hero .carousel img.fade-out{
    opacity: .1
}

@keyframes fade-out{
    0%{
        opacity:1;
    }90%{
        opacity: .9;
    }100%{
        opacity: .1;
    }

}

.general-container .hero .carousel .indicators{
    position: absolute;
    content: '';
    width: 100%;
    height: 26px;
    bottom: 10px;
    opacity: .6;
    background-color: #313131;
    background-image: linear-gradient(to right, rgb(177, 177, 177), #414141, rgb(177, 177, 177));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.indicators .indicator{
    width: 15px;
    height: 15px;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    transition: background-color .3s;
}

.indicators .indicator:checked{
    background-color: #fff;
}

.services{
    background-color: chocolate;
    background-color: rgb(205, 233, 243);
    background-color: rgb(173, 198, 207);
    background-color: rgb(235, 218, 192);
    /* background-color: rgb(125, 161, 173); */
    /* width: 110%; */
    /* width: calc(10%); */
    /* margin-left: -6.1rem; */
    margin-top: 3rem;
    padding: 2rem 7rem;
    max-width: 100%;
}

.services h2{
    color: #1d1d1d;
    /* font-weight: 700; */
}

.services ul{
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    /* background-color: #f3b816; */
}

.services ul li{
    position: relative;
    z-index: 1; 
    background-color: hsla(0, 0%, 100%, 0.3);
    border-radius: 6px;
    text-wrap: balance;
}

.services ul li::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/logo-sem-titulo.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 400% 300%;
    opacity: .4;
    z-index: -1;
}


.services ul li:nth-child(1)::before{background-position: -2% -2%;}
.services ul li:nth-child(2)::before{background-position: 33% -2%;}
.services ul li:nth-child(3)::before{background-position: 68% -2%;}
.services ul li:nth-child(4)::before{background-position: 103% -2%;}

.services ul li:nth-child(5)::before{background-position: -2% 50%;}
.services ul li:nth-child(6)::before{background-position: 33% 50%;}
.services ul li:nth-child(7)::before{background-position: 68% 50%;}
.services ul li:nth-child(8)::before{background-position: 103% 50%;}

.services ul li:nth-child(9)::before{background-position: -2% 102%;}
.services ul li:nth-child(10)::before{background-position: 33% 102%;}
.services ul li:nth-child(11)::before{background-position: 68% 102%;}
.services ul li:nth-child(12)::before{background-position: 103% 102%;}

.services ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* grid-template-rows: min(200px); */
    grid-gap: 2rem;
}

.services ul li img{
    align-self: flex-start;
    /* display: block; */
}

.services ul li {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: .8rem;
    padding: 1rem;
    background-color: rgb(173, 198, 207);
    background-color: rgb(205, 233, 243);
    background-color: rgb(250, 235, 215);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.services ul li h4{
    font-size: 1.8rem;
    font-weight: 500;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.services ul li p{
    line-height: 1.9rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}


.about{
    margin-top: 3rem;
    padding: 2rem 7rem;
    background-color: rgb(255, 192, 203);
}

.about .description{
    min-height: 400px;
    width: 100%;
    padding: 4rem 2rem;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 1.5rem;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
    background-image: url(../images/pexels-karolina-grabowska-5207029.jpg);
    background: url(../images/pexels-karolina-grabowska-5207015.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.about .description > li{
    border-radius: 0 12px 0px 25px;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    /* width: 250px; */
    padding: 2rem;
    line-height: 2.2rem;
    height: 220px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.about .description > li:nth-child(2){
    /* background-color: #f3b816; */
    margin-top: 20rem;
}

.about .description > li:nth-child(3){
    margin-top: 40rem;
}

.about .description > li h4{
    margin-bottom: 1.4rem;
    /* font-size: 1.3rem; */
}

.about .description > li ul{
    margin-left: .8rem;
}

.about .description > li ul li{
    margin-top: 1rem;
    margin-left: .5rem;
}

.about .description .values li::before{
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    /* font-weight: bold; */
    position: absolute;
    left: 1.2rem;
}

.gallery{
    margin-top: 4rem;
}

.gallery .images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(minmax(330px, 1fr));
    grid-gap: 1rem;

}

.gallery .images img{
    max-width: 100%;
    /* height: 200px; */
    /* height: 100%; */
    object-fit: contain;
}

.footer{
    background-color: lightblue;
    background-color: rgb(173, 198, 207);
    background-color: #772003;
    background-color: #8d2806;
    background-color: #491301;
    padding: 2rem 4rem 0.5rem;
    margin-top: 4rem;
    color: #D2AE6D;
}

.footer > img{
    width: 115px;
    /* height: ; */
}

.footer h4{
    font-size: 2.2rem;
    margin-bottom: 1.7rem;
}

.footer nav ul li, 
.footer nav ul li address{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 0.8rem;
}

.footer nav ul li a{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.footer nav ul svg{
    font-size: 2rem;
    fill: #D2AE6D;
}

.footer h5{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
}

.footer span{
    text-align: center;
    margin: auto;
}

.arrow-up{
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    display: none;
}

.arrow-up.show{
    display: block;
    background-color: hsla(0, 0%, 100%, 0.2);
    border-radius: 40px;
    backdrop-filter: blur(3px);
    animation: move-arrow-up .9s infinite alternate linear;
}

@keyframes move-arrow-up{
    0%{
        bottom: 50px
    }100%{
        bottom: 40px;
    }
}